<div id="menubar">
    <ul id="menu">

        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->

        <li class="{% if name == 'index' %}selected{% endif %}">
            <a href="{{ urls.index }}">Home</a></li>
        <li class="{% if name == 'example' %}selected{% endif %}">
            <a href="{{ urls.example }}">Examples</a></li>
        <li class="{% if name == 'page' %}selected{% endif %}">
            <a href="{{ urls.page }}">A Page</a></li>
        <li class="{% if name == 'anotherpage' %}selected{% endif %}">
            <a href="{{ urls.anotherpage }}">Another Page</a></li>
        <li class="{% if name == 'contacts' %}selected{% endif %}">
            <a href="{{ urls.contacts }}">Contact Us</a></li>
    </ul>
</div>