{% extends "base.html" %}
{% block title%}
Список курсов
{% endblock %}
{% block content %}
<div id="content">
    <a href="{{ urls.index }}">назад</a>

    <h1>Список категорий</h1>
    <ul>

        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
            <a href="/create-course/?id={{ item.id }}">Создать курс</a>
            <p><a href="/courses-list/?id={{ item.id }}">Список курсов</a></p>
            <p><a href="/create-category/?category_id={{item.id}}">Создать подкатегорию</a></p>

        </li>
        {% endfor %}
    </ul>


</div>
{% endblock content %}